body {
	--blue-cell: rgba(50, 186, 255, 0.5);
	--purple-cell: rgba(145, 85, 253, 0.5);
	--border-color: rgba(58, 53, 65, 0.12);
	--green: #56ca00;
	--puple: #9155fd;
	--orange: #ffb400;
	--red: #ff4c51;
	--blue: #16b1ff;
	--lightPurple: #9155fd26;
}

#report {
	font-family: 'Inter', sans-serif;
}

.page {
	position: relative;
}

.page-content-cover {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 5%;
}

.frame-image {
	object-fit: cover;
	width: 100%;
}

.dom-logo {
	text-align: center;
	margin-top: 7%;
	/* transform: translateY(60%); */
}

.dom-logo h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 14px;
	/* or 56% */

	text-align: center;
	letter-spacing: 14px;
	text-transform: uppercase;

	color: #000000;
	transform: translateX(5px);
}

.dealerverse-logo {
	text-align: center;
}

.dealerverse-logo img {
	width: 100%;
	max-width: 368px;
}

.dealerverse-logo h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 14px;
	/* or 58% */

	letter-spacing: 0.4px;
	margin: 0;
	transform: translateY(7px);

	color: #434343;
}

.disclaimer {
	margin: 0 auto;
	max-width: 90%;
	margin-bottom: 7%;
}

.disclaimer h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 14px;
	margin-bottom: 25px;
	/* identical to box height, or 58% */

	letter-spacing: 0.4px;
	text-align: center;
	color: #000000;
}
.disclaimer p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* or 117% */

	letter-spacing: 0.4px;

	color: #000000;
}

.company-logo {
	position: absolute;
	height: 8.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
}

.frame-dom-logo {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100%;
}

.frame-dom-logo img {
	max-width: 100%;
	padding-top: 0.7%;
}

.frame-dom-logo p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height, or 117% */

	letter-spacing: 2px;
	text-transform: uppercase;

	color: #ffffff;
	padding-top: 0.5%;
}

.frame-dom-logo .page-date {
	position: absolute;
	left: 4.45%;

	top: 19.64%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 14px;
	/* identical to box height, or 93% */

	letter-spacing: 0.4px;

	color: #ffffff;
}

.page-content {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	margin-top: 5%;
	margin-left: 2.7%;
	margin-bottom: 2.7%;
	margin-right: 2.7%;
	gap: 20px;
}

.page-title {
	align-self: flex-start;
	width: 100%;
	/* flex-grow: 1; */
}

.page-title h2 {
	/* Light/Typography/H6 */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	/* identical to box height, or 160% */

	letter-spacing: 0.15px;

	color: rgba(58, 53, 65, 0.87);
	margin-top: 0.5%;
	margin-bottom: -10px;
}

.full-width-chart {
	background: #ffffff;
	overflow: hidden;
}

.full-width-chart img {
	max-width: 100%;
}

.half-width-chart {
	background: #ffffff;
	flex-grow: 1;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 50%;
	/* overflow: hidden; */
}

.half-width-area {
	display: flex;
	gap: 20px;
	width: 100%;
}
.half-width-area h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.15px;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
}

.half-header {
	display: flex;
	flex-direction: row;
}

.half-header-first,
.half-header-second {
	display: flex;
	flex-grow: 1;
}

.half-header-second {
	position: relative;
	min-height: 68px;
	align-items: flex-end;
	padding-left: 25%;
	padding-bottom: 1%;
}
.half-header-second .vistor-number {
	/* Light/Typography/H6 */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	/* identical to box height, or 160% */

	letter-spacing: 0.15px;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
}

.half-header-second .vistor-text {
	/* Light/Typography/Caption */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height, or 117% */

	letter-spacing: 0.4px;

	/* Light/Text/Secondary */

	color: rgba(58, 53, 65, 0.6);
}

.half-header-second img {
	width: 108px;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-30px) translateX(30px);
}

.half-header-second p {
	margin: 0;
}

.table-under-chart {
	width: 100%;
	table-layout: fixed;
}

.table-under-chart thead {
	background: #fafbfc;
}

.table-under-chart th,
.table-under-chart td {
	text-align: center;
	padding: 15px 20px;
}

.divider-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.cell-divider {
	width: 3px;
	background-color: var(--border-color);
	height: 15px;
	border-radius: 50px;
	transform: translateY(2px);
}

.table-under-chart tfoot {
	border-top: solid 2px var(--border-color);
}
.table-under-chart tbody tr:not(:first-child) {
	border-top: solid 2px var(--border-color);
}

.table-under-chart tbody tr {
	--cell-color: var(--blue-cell);
}

.table-under-chart tbody tr:nth-child(2n) {
	--cell-color: var(--purple-cell);
}

.table-under-chart tbody tr td:nth-child(2n) {
	background-color: var(--cell-color);
}

.ws-chart {
	width: 100%;
	table-layout: fixed;
}

.ws-chart tr {
	border-top: solid 2px var(--border-color);
}

.ws-chart thead th {
	/* Light/Typography/Caption */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height, or 117% */

	text-align: right;
	letter-spacing: 0.4px;

	/* Light/Text/Secondary */

	color: rgba(58, 53, 65, 0.6);

	padding-top: 10px;
	padding-bottom: 10px;
}

.ws-chart tbody td,
.ws-chart tbody th {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ws-chart tbody td {
	/* Light/Typography/Caption */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height, or 117% */

	text-align: right;
	letter-spacing: 0.4px;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
}

.ws-chart tbody th {
	/* Light/Typography/Caption */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height, or 117% */

	text-align: left;
	letter-spacing: 0.4px;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
}

.greenball {
	background-color: var(--green);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
	transform: translateY(1px);
}

.orangeball {
	background-color: var(--orange);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
	transform: translateY(1px);
}

.blueball {
	background-color: var(--blue);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
	transform: translateY(1px);
}

.purpleball {
	background-color: var(--puple);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
	transform: translateY(1px);
}

.redball {
	background-color: var(--red);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
	transform: translateY(1px);
}

.vdpVisits {
	table-layout: fixed;
	width: 100%;
}

.vdpVisits th {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 24px;
	/* identical to box height, or 240% */

	text-align: center;
	letter-spacing: 0.17px;
	text-transform: uppercase;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
}

.vdpVisits th {
	padding: 5px 0;
}

.vdpVisits th:first-child {
	background-color: var(--puple);
}

.vdpVisits th {
	background-color: rgba(58, 53, 65, 0.22);
}

.vdpVisits td {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 19px;
	/* identical to box height, or 210% */

	letter-spacing: 0.15px;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
	padding-left: 20px;
	padding-top: 5px;
}



.gg-chevron-up {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	transform: scale(1);
	width: 18px;
	height: 10px;
	border: 2px solid transparent;
	border-radius: 100px;
	color: var(--green);
}
.gg-chevron-up::after {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 10px;
	border-top: 3px solid;
	border-right: 3px solid;
	transform: rotate(-45deg);
	left: 4px;
	bottom: -4px;
}

.gg-chevron-down {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	transform: scale(1);
	width: 18px;
	height: 10px;
	border: 2px solid transparent;
	border-radius: 100px;
	color: var(--red);
}
.gg-chevron-down::after {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 3px solid;
	border-right: 3px solid;
	transform: rotate(45deg);
	left: 4px;
	top: -4px;
}

.ld-chart {
	width: 100%;
	table-layout: fixed;
	font-size: 10px;
}

.ld-chart tbody:last-child tr:last-child td:first-child {
	border-radius: 0 0 0 6px;
}

.ld-chart tbody:last-child tr:last-child td:last-child {
	border-radius: 0 0 6px 0;
}

.ld-chart tbody td,
.ld-chart tbody th {
	padding-top: 7px;
	padding-bottom: 4px;
}

.ld-chart th,
.ld-chart td {
	padding: 14px;
	color: hsl(260, 7%, 33%);
}

.ld-chart th:first-child {
	background: #9155fd;
	color: white;
	border-radius: 6px 0 0 0;
}

.ld-chart th:last-child {
	border-radius: 0 6px 0 0;
}

.ld-chart th:first-child::after {
	padding-left: 20px;
	color: white;
}

.ld-chart tr:first-child {
	font-weight: bold;
}

.ld-chart td:last-child {
	background: rgba(145, 85, 253, 0.5);
}

.ld-chart th::after {
	content: '|';
	padding-left: 4px;
	color: #757575;
}

.ld-chart th {
	background-color: #f9fafc;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.ld-chart td {
	background: white;
	border-bottom: 0.5px solid rgba(58, 53, 65, 0.12);
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.sm-table {
	width: 100%;
	table-layout: fixed;
}

.sm-table td,
.sm-table th {
	padding: 10px 15px;
}

.sm-table th {
	border-right: solid 2px var(--border-color);
}

.sm-table td:nth-child(2n-1) {
	border-right: solid 2px var(--border-color);
}

.sm-table td:last-child,
.sm-table th:last-child {
	border-right: none;
}

.secondHeader td {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: rgba(58, 53, 65, 0.6);
	background-color: var(--lightPurple);
}

.sm-table th {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 24px;
	/* or 240% */

	letter-spacing: 0.17px;
	text-transform: uppercase;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
}

.sm-table thead {
	background: var(--lightPurple);
}

.sm-table .table-data td {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	/* identical to box height, or 175% */

	letter-spacing: 0.15px;

	/* Light/Text/Primary */

	color: rgba(58, 53, 65, 0.87);
}

.sm-table .table-data td:nth-child(1) {
	color: #6e41c0;
}

/* Utils */
.box-shadow {
	box-shadow: 0px 2px 12px -4px rgba(58, 53, 65, 0.1),
		0px 2px 12px -4px rgba(58, 53, 65, 0.08),
		0px 6px 16px -4px rgba(58, 53, 65, 0.1);
}

.border-radius {
	border-radius: 6px;
}

.overflow-hidden {
	overflow: hidden;
}

.green-text {
	color: var(--green) !important;
}

.red-text {
	color: var(--red) !important;
}

/* .p-10-20 {
	padding: 10px 20px;
} */
